

.na{
    background-color: #1DA1FA;
    height:60px;
    position: sticky;
    top:0;
    margin-bottom: 0;
    z-index: 100;
}

.head{
    display: flex;
    padding-left: 15px;
    font-weight: 500;
    font-size: xx-large;
    color:whitesmoke;
    font-family: 'Arvo', serif;
}